#right-bar {
  border-left: 1px solid;
  padding: 10px;
  display: grid;
  overflow-y: auto;
  width: 100%;
}

/* right-bar grid 내에서 차지할 높이 설정 */
/* search-select-wrap */
.item:nth-child(1) {
  grid-row-start: 1;
  grid-row-end: 2;
}
/* list-detail-wrap */
.item:nth-child(2) {
  grid-row-start: 2;
  grid-row-end: 12;
  margin-top: 30px;
}

/* toggle part */
#toggle-btn-wrap {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-size-adjust: none;
  -webkit-box-direction: normal;
  margin: 2px;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  overflow: hidden;
  vertical-align: top;
  text-align: right;
  width: 100%;
}
#toggle-btn {
  font-size: 13px;
}
.toggle-text {
  font-size: 13px;
  margin: 5px;
}

/* ---------- Selection part ---------- */
.search-select-wrap {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-size-adjust: none;
  -webkit-box-direction: normal;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* input part */
.search-input-liner {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-size-adjust: none;
  -webkit-box-direction: normal;
  margin-bottom: 10px;
  padding: 0;
  font: inherit;
  border: 1px solid #708090;
  border-radius: 4px;
  overflow: hidden;
  height: 50px;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
  top: 10px;
}
.input-wrap {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-size-adjust: none;
  -webkit-box-direction: normal;
  margin: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  float: left;
  padding: 0px 5px;
  position: relative;
  overflow: hidden;
  width: 80%;
}
input {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-size-adjust: none;
  -webkit-box-direction: normal;
  width: 100%;
  height: 50px;
  border: none;
  appearance: none;
  outline: none;
  box-shadow: none;
  font-size: 13px;
}

.btn-search-wrap {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-size-adjust: none;
  -webkit-box-direction: normal;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  float: right;
  background-color: #708090;
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.btn-search {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-size-adjust: none;
  -webkit-box-direction: normal;
  font-family: "SpoqaHanSans";
  padding: 0px;
  border: 0px;
  margin: 0px;
  vertical-align: middle;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background: url("https://s.zigbang.com/www/images/ic_title_searchbar_30x30_nor_white.png") center
    center / 100% no-repeat transparent;
}

/* star part */
#star-link {
  text-align: center;
  font-size: 13px;
  width: 100%;
}
#star-link a {
  color: #708090;
  text-decoration: none;
}
#star-link a:visited {
  color: #708090;
  text-decoration: none;
}

/* ---------- List, Detail part ---------- */
#list-detail-wrap {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-size-adjust: none;
  -webkit-box-direction: normal;
  font: inherit;
  vertical-align: baseline;
}

/* ---------- Search list part ---------- */
#apart-search-list-wrap {
  position: fixed;
  top: 315px;
  right: 10px;
  border: 1px solid #708090;
  background-color: white;
  width: 300px;
}
#apart-search-item {
  border: 1px solid #708090;
  background-color: white;
}
